/* testCSS.css */
/* Programmé par nadine fagnan */
/* Le 6 juin 2020 */


.parallax{
    height: 100% ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banniere{
    background-image: url("../img/img1.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20rem;
}
.fondJaune{
    background-color: rgba(221, 203, 15, 0.8);
    padding-top: 5rem;
    padding-bottom:5rem ;
    margin-top: 16rem;
}
.fondGris{
      background-color: rgba(139, 142, 144, 0.8);
      padding-top: 2rem;
      padding-bottom:2rem ;
      margin-top: 3rem;
  }
H1{
    color: black;
    font-weight: bold;
    font-size: 3rem;
}
ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}


















body{

}

@font-face{
    font-family:Thewitcher-jn0j;
    src: url(../font/Thewitcher-jnOj.ttf);
}



h2{
   padding-top: 3rem;
}

h3{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1rem;
}

h4{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
}

h5{
    font-size: 1rem;
    padding-top: 2rem;
    font-weight: bold;
}

.padPhotoJeux {
    padding-top: 1rem ;
}

.fa-facebook-square {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

hr{ background: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}


.couleurNavBar{
    background-color:rgba(128,128,128,0.4);
}