/* testCSS.css */
/* Programmé par nadine fagnan */
/* Le 6 juillet 2020 */


.couleurNavBar{
    background-color:rgba(128,128,128,0);
}

#banniere{
    background-image: url("../img/banniere3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 30rem;
    padding-top: 30rem;
    position: relative;
}

.NavBar{
    position: center;
}

.navbar-nav{
    color: white;
}

#titreBanniere{
    color: white;
    font-family: Muli-medium;
    font-size: 1.5rem;
}


.parallax{
    height: 100% ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#case3{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#sectionTerrain{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#sectionConstruction{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#divTerrainTexte{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#divConstructionTexte{
    padding-top: 6rem;
    padding-bottom: 5rem;
}
#sectionConstruction4{
   margin-bottom: 5rem;
}
#photoConstruction{
    margin-bottom: 5rem;
}
#divSectionNousJoindre{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#divSectionNosTerrains{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.PhotoPageTerrain{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#map{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#textebanniere{
   font-family: Abel-Regular;
    color: white;
}

@font-face{
    font-family:Muli-Bold;
    src: url(../font/Muli-Bold.ttf);
}
@font-face{
    font-family:Muli-light;
    src: url(../font/Muli-light.ttf);
}
@font-face{
    font-family:Muli-Black;
    src: url(../font/Muli-Black.ttf);
}
@font-face{
    font-family:Abel-Regular;
    src: url(../font/Abel-Regular.ttf);
}

h1{
   font-family: Muli-Bold;
   color: black;
    font-size: 3rem;
}

h2{
    font-family: Muli-Black;
    color: black;
}
h3{
     font-family: Muli-Black;
     color: white;
     font-size: 4rem;
 }
h4{
    font-family: Muli-Black;
    color: black;
    font-size: 1.5rem;
}
h5{
    font-family: Muli-Black;
    color: white;
    font-size: 1.5rem;
}
hr{ background: #353434;
    height: 2px;
    border-style: none;
    margin: 2% 0;
}

.nav-link{
    font-family: Muli-Black;
    color: white;
}
.couleurNavBar{
    background-color:rgba(238,100,11,0);
}



.parallax{
    height: 100% ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnbtn-primary{

    color: black;
}









.fa-facebook-square {
    color: white;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00011c;
    color: white;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.footerTexte {
    font-size: 1rem;
    text-align: justify;
    font-family: Abel-Regular ;
    margin-bottom: 3rem;

}
.footerTexte2 {
    font-size: 0.5rem;
    text-align: center;
    font-family: Abel-Regular ;

}
.logo{
    text-align: left;
    margin-top: 2rem;
    padding-bottom: 2rem;
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: black;
    font-family: Muli-Bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em dimgrey; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: dimgrey }
}


/* Cellulaires */ Media queries css
@media screen and (max-width: 480px){
    div.case3
}
    font-size: 1.5rem;
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1199px){
    div.case3
}
font-size: 3rem;
{

@media screen and (min-width: 1200px){
    div.case3
    font-size: 3rem;
}


