/* testCSS.css */
/* Programmé par nadine fagnan */
/* Le 6 juillet 2020 */

/* Section bannière*/

#banniere{
    background-image: url("../img/banniere3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 30rem;
    padding-top: 30rem;
    position: relative;
}

.NavBar{
    position: center;
}

.navbar-nav{
    color: white;
}

#titreBanniere{
    color: white;
    font-family: mulimedium;
    font-size: 1.5rem;
}
.parallax{
    height: 100% ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* corps des pages marges et padding*/

#case3{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#sectionTerrain{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#sectionConstruction{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#divTerrainTexte{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#divConstructionTexte{
    padding-top: 6rem;
    padding-bottom: 5rem;
}
#sectionConstruction4{
   margin-bottom: 5rem;
}
#photoConstruction{
    margin-bottom: 5rem;
}
#divSectionNousJoindre{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#divSectionNosTerrains{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.PhotoPageTerrain{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#map{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#textebanniere{
   font-family: abelRegular;
    color: white;
}

/* font*/

@font-face{
    font-family : muliBold;
    src: url(../font/Muli-Bold.ttf);
}
@font-face{
    font-family : mulilight;
    src: url(../font/Muli-light.ttf);
}
@font-face{
    font-family : muliBlack;
    src: url(../font/Muli-Black.ttf);
}
@font-face{
    font-family : abelRegular;
    src: url(../font/Abel-Regular.ttf);
}

@font-face{
    font-family : mulimedium;
    src: url(../font/Muli-Medium.ttf);
}


/* titres*/

h1{
   font-family: muliBold;
   color: black;
    font-size: 3rem;
}
h2{
    font-family: muliBlack;
    color: black;
}
h3{
     font-family: muliBlack;
     color: white;
     font-size: 4rem;
 }
h4{
    font-family: muliBlack;
    color: black;
    font-size: 1.5rem;
}
h5{
    font-family: muliBlack;
    color: white;
    font-size: 1.5rem;
    text-align: justify;
}
hr{ background: #353434;
    height: 2px;
    border-style: none;
    margin: 2% 0;
}

/*Section footer*/
.fa-facebook-square {
    color: white;
}
.sectionDroiteFooter{
    padding-top: 4rem;

}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00011c;
    color: white;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.footerTexte {
    font-size: 1rem;
    text-align: justify;
    font-family: abelRegular ;


}
.footerTexte2 {
    font-size: 0.5rem;
    text-align: center;
    font-family: abelRegular ;

}
.logo{
    text-align: left;
}



/*animation texte*/
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: black;
    font-family: muliBold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid dimgrey; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: dimgrey }
}



/* Media queries css*/

.TMQ{
    font-size: 3rem;
}

/* Cellulaires Media queries css*/
@media screen and (max-width: 480px){
    .TMQ{
        font-size: 1rem;
    }
    #banniere{
        background-image: url("../img/img2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom: 30rem;
        padding-top: 30rem;
        position: relative;
    }
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1199px){

    #banniere{
        background-image: url("../img/img3.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom: 30rem;
        padding-top: 30rem;
        position: relative;
    }
}

