/* testCSS.css */
/* Programmé par nadine fagnan */
/* Le 6 juin 2020 */




header

{
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}



header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

























#banniere{
    background-image: url("../img/witcherBanniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 15rem;
}

body{

}





h3{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1rem;
}

h4{
    color: #6c6c6c;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
}

h5{
    font-size: 1rem;
    padding-top: 2rem;
    font-weight: bold;
}

.padPhotoJeux {
    padding-top: 1rem ;
}

.fa-facebook-square {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

hr{ background: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}


.couleurNavBar{
    background-color:rgba(128,128,128,0.4);
}